{% extends "layout.html.j2" %}

{% block title %}Lista de tarefas{% endblock %}

{% block content %}
    <ul class="todo-list">
        {% for i, (id, todo) in todos %}
            <li>
                <input
                    type="checkbox"
                    name="status"
                    id="todo_{{ i + 1 }}"
                    data-todo-close="{{ id }}"
                >
                <label for="todo_{{ i + 1 }}">{{ todo.description }}</label>

                <div class="tools">
                    <a href="{{ url_for('editTodo', id=id) }}">
                        <button class="button button-primary">
                            Editar
                        </button>
                    </a>
                    <button class="button button-danger" data-todo-remove="{{ id }}">
                        Remover
                    </button>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/list.js') }}"></script>
{% endblock %}